.zpl-dropdown-group {
  /* Default */
  @apply relative;
}
.zpl-dropdown {
  /* Default */
  @apply bg-surface flex items-center border border-border rounded-sm w-full text-text-soft h-3xl;
  @apply dark:bg-surface-dark dark:border-border-dark dark:text-text-dark;

  /* hover */
  &:not(:focus-within):not(.error):not([disabled]):hover {
    @apply shadow-border-hover;
  }

  /* Disabled */
  &[disabled] {
    @apply bg-surface-disabled border-border-disabled;
    @apply dark:bg-surface-dark-disabled dark:border-border-dark-disabled;
  }

  /* focus */
  &:focus-within:not(.error) {
    @apply border-interactive-focus outline-none shadow-border-focus-soft;
    @apply dark:border-interactive-dark-focus dark:shadow-dark-border-focus-soft;
  }

  &.error {
    &:not([disabled]) {
      /* Default */
      @apply border border-border-danger;
      @apply dark:border-border-dark-danger;
    }
  }
}
.zpl-dropdown-input {
  /* Default */
  @apply bg-transparent border-none outline-none flex-auto py-sm pr-sm pl-[44px] min-w-0 relative z-10;
}
.zpl-dropdown-label {
  /* Default */
  @apply absolute top-sm right-sm z-0 px-2xs transition-all	ease-in-out	delay-100 text-text-soft;
  @apply dark:text-text-dark-soft;

  &:not(.activeLabel) {
    @apply text-b2;
  }

  &.activeLabel {
    @apply -top-xs bg-surface text-ls-cp py-[2px];
    @apply dark:bg-surface-dark;
  }
}
.zpl-dropdown-icon {
  @apply w-xl h-xl absolute left-sm;
}
.zpl-dropdown-hint-box {
  /* Default */
  @apply flex w-full justify-between;
}
.zpl-dropdown-hint {
  /* Default */
  @apply py-2xs px-sm text-b3 text-text-soft;

  &.helper {
    /* Default */
    @apply flex-1;
    @apply dark:text-text-dark-soft;
  }
  &.error {
    /* Default */
    @apply absolute text-text-danger;
    @apply dark:text-text-dark-danger;
  }
  &.success {
    /* Default */
    @apply absolute text-text-success;
    @apply dark:text-text-dark-success;
  }
}
.zpl-dropdown-list {
  /* Default */
  @apply flex-col bg-surface border border-border shadow-elevation-100 rounded-sm 
	p-xs absolute w-full mt-2xs hidden;
  @apply dark:bg-surface-dark dark:border-border-dark	dark:shadow-dark-elevation-100;

  &.showList {
    @apply flex;
  }
}
.zpl-dropdown-item {
  /* Default */
  @apply py-xs px-sm text-text text-b2 truncate rounded-sm cursor-pointer;
  @apply dark:text-text-dark;

  &:not(:last-child) {
    @apply mb-2xs;
  }

  /* Active */
  @apply active:bg-surface-active;
  @apply dark:active:bg-surface-dark-active;

  /* Disabled */
  &.disabled {
    @apply bg-surface-disabled pointer-events-none text-text-disabled;
    @apply dark:bg-surface-dark-disabled dark:text-text-dark-disabled;
  }
  &.selected {
    @apply bg-surface-select text-text relative flex items-center;
    @apply dark:bg-surface-dark-select dark:text-text-dark;

    /* icon */
    &:after {
      content: "";
      @apply absolute bg-primaryZarinpal w-2xs h-2xs left-md;
    }
  }

  &.active:not(.selected):not(.disabled) {
    @apply bg-surface-hover;
    @apply dark:bg-surface-dark-hover;
  }
}
.zpl-dropdown-skeleton-box {
  /* Default */
  @apply flex py-xs px-sm;

  &:not(:last-child) {
    @apply mb-2xs;
  }
}
.zpl-dropdown-skeleton {
  /* Default */
  @apply h-[18px] rounded-xs bg-surface-disabled relative overflow-hidden;
  @apply dark:bg-surface-dark-disabled;

  /* animated element */
  &::after {
    @apply absolute inset-0	-translate-x-full;
    background-image: linear-gradient(
      90deg,
      rgba(#ffffff, 0) 0,
      rgba(#ffffff, 0.2) 20%,
      rgba(#ffffff, 0.5) 60%,
      rgba(#ffffff, 0)
    );
    animation: shimmer 1s infinite;
    content: "";
  }
  /* animation */
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
