.zpl-button {
  /* Default */
  @apply rounded-sm flex justify-center items-center text-center gap-x-xs;

  /* Disabled */
  @apply disabled:cursor-default;

  /* focused */
  @apply focus:shadow-border-focus-heavy focus:border focus:border-surface;
  @apply dark:focus:shadow-dark-border-focus-heavy dark:focus:border-surface-dark;

  &.primary {
    /* Default */
    @apply bg-primaryZarinpal text-text-onPrimary;
    @apply dark:bg-primaryZarinpal-dark dark:text-text-dark-onPrimary;

    /* Hover */
    @apply hover:bg-primaryZarinpal-hover;
    @apply dark:hover:bg-primaryZarinpal-dark-hover;

    /* Active */
    @apply active:bg-primaryZarinpal-active;
    @apply dark:active:bg-primaryZarinpal-dark-active;

    /* Disabled */
    @apply disabled:bg-primaryZarinpal-disabled;
    @apply dark:disabled:bg-primaryZarinpal-dark-disabled;

    /* focused */
    @apply focus:bg-primaryZarinpal;
    @apply dark:focus:bg-primaryZarinpal-dark;
  }

  &.secondary {
    /* Default */
    @apply bg-secondary text-text;
    @apply dark:bg-secondary-dark dark:text-text-dark;

    /* Hover */
    @apply hover:bg-secondary-hover;
    @apply dark:hover:bg-secondary-dark-hover;

    /* Active */
    @apply active:bg-secondary-active;
    @apply dark:active:bg-secondary-dark-active;

    /* Disabled */
    @apply disabled:bg-secondary-disabled;
    @apply dark:disabled:bg-secondary-dark-disabled;

    /* focused */
    @apply focus:bg-secondary;
    @apply dark:focus:bg-secondary-dark;
  }

  &.tertiary {
    /* Default */
    @apply bg-surface  text-text;
    @apply dark:bg-surface-dark dark:text-text-dark;

    /* Hover */
    @apply hover:bg-surface-hover;
    @apply dark:hover:bg-surface-dark-hover;

    /* Active */
    @apply active:bg-surface-active;
    @apply dark:active:bg-surface-dark-active;

    /* Disabled */
    @apply disabled:bg-surface-disabled;
    @apply dark:disabled:bg-surface-dark-disabled;

    /* focused */
    @apply focus:bg-surface;
    @apply dark:focus:bg-surface-dark;
  }

  &.small {
    @apply px-sm py-2xs;
  }

  &.medium {
    @apply px-md py-xs;
  }

  &.large {
    @apply px-xl py-sm;
  }

  &.fill {
    @apply w-full;
  }
}
.zpl-button-icon {
  @apply h-xl w-xl;
}
.zpl-button-loading {
  /* Default */
  @apply h-xl w-xl relative z-10 transition-all duration-[300ms];
}

.zpl-button-loading-1,
.zpl-button-loading-2 {
  /* Default */
  @apply w-full h-full rounded-circle bg-white-60 absolute top-0 left-0;
  @apply dark:bg-black-40;

  animation: bounce 2s infinite ease-in-out;
}

.zpl-button-loading-2 {
  /* Default */
  animation-delay: -1s;
}

/* animation */
@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
