.zpl-skeleton {
  &-item {
    @apply w-full h-full overflow-hidden relative;
    &::before {
        @apply absolute inset-0	-translate-x-full content-[""] bg-skeleton;
        @apply dark:bg-skeleton-dark;
        animation: shimmer 1s infinite;      
      /* animation */
      @keyframes shimmer {
        100% {
          transform: translateX(100%);
        }
      }
    }
    &.light {
      @apply bg-gray-80;
      @apply dark:bg-gray-dark-80;
    }

    &.body {
      @apply rounded-xs min-h-[12px];
    }
    &.heading {
      @apply rounded-xs h-lg;
    }
    &.thumbnail {
      @apply w-[40px] h-[40px] rounded-md;
    }
    &.avatar {
      @apply w-[40px] h-[40px] rounded-circle;
    }
    &.iconButton {
      @apply rounded-sm;
    }
    &.iconCircle {
      @apply w-xl h-xl rounded-circle;
    }
    &.iconSquare {
      @apply w-xl h-xl rounded-sm;
    }
    &.toggle {
      @apply w-[36px] h-xl rounded-lg;
    }
    &.button {
      @apply h-[40px] rounded-sm;
    }
  }
}

@keyframes loader {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
