$bankLogos: saman, refah, dey, hekmat, iranEurope, iranVenezuela, keshavarzi,
  melall, sanatMadan, toseeTaavon, mellat, eghtesadNovin, futurebank,
  khavarMianeh, melli, parsian, pasargad, kosar, sepah, gardeshgari, iranZamin,
  ayandeh, caspian, zarinCard, karafarin, postbank, sina, ansar, shahr, tejarat,
  sarmayeh, standardChartered, taavonEslami, tosee, saderat, ghavamin, maskan,
  mehrEghtesad, mehrIran, resalat, noor, bankMarkazi, toseeSaderat;

@each $bankLogo in $bankLogos {
  .#{$bankLogo}-card {
    &::after {
      @apply bg-bank-#{$bankLogo};
    }
  }
}

.zpl-bank-cards {
  @apply bg-surface border border-border-soft shadow-elevation-50;
  @apply rounded-md relative overflow-hidden p-xs w-[320px];
  @apply dark:bg-surface-dark dark:border-border-dark-soft dark:shadow-dark-elevation-50;

  &::after {
    content: "";
    @apply absolute w-full h-xl top-0 z-0 left-0 right-0;
  }
}
.zpl-bank-cards-top {
  @apply relative bg-surface rounded-[6px] p-xs z-10 mb-xs gap-x-xs flex items-center;
  @apply dark:bg-surface-dark;
}
.zpl-bank-cards-name {
  @apply text-text text-b3;
  @apply dark:text-text-dark;
}
.zpl-bank-cards-username {
  @apply flex items-center text-text-soft text-ls-cp;
  @apply dark:text-text-dark-soft;

  // circle icon
  &:before {
    content: "";
    @apply w-[2px] h-[2px] rounded-circle bg-text-soft ml-xs;
  }
}

.zpl-bank-cards-container {
  @apply bg-surface-soft rounded-sm p-xs z-10 mb-xs text-text text-center;
  @apply dark:bg-surface-dark-soft dark:text-text-dark;
}
.zpl-bank-cards-amount-box {
  @apply flex items-center justify-center p-xs z-10 mb-sm;
}
.zpl-bank-cards-amount {
  @apply text-ls-h1 font-bold ml-2xs font-IRANYekanRdFaNum;
}
.zpl-bank-cards-currency {
  @apply text-b2;
}
.zpl-bank-cards-iban {
  @apply relative z-10 text-b2;
}
.zpl-bank-cards-rrn {
  @apply py-2xs px-xs flex justify-between text-text-soft text-b3;
  @apply text-text-dark-soft;
}
