$bankLogos: (
  "saman": (
    "color": #20b3ea,
  ),
  "refah": (
    "color": #173576,
  ),
  "dey": (
    "color": #008b9a,
  ),
  "hekmat": (
    "color": #324c88,
  ),
  "iranEurope": (
    "color": #324c88,
  ),
  "iranVenezuela": (
    "color": #324c88,
  ),
  "keshavarzi": (
    "color": #1f261a,
  ),
  "melall": (
    "color": #ff7f31,
  ),
  "sanatMadan": (
    "color": #9b814c,
  ),
  "toseeTaavon": (
    "color": #51b5d1,
  ),
  "mellat": (
    "color": #ba0b22,
  ),
  "eghtesadNovin": (
    "color": #662892,
  ),
  "futurebank": (
    "color": #662892,
  ),
  "khavarMianeh": (
    "color": #f29200,
  ),
  "melli": (
    "color": #f1af0e,
  ),
  "parsian": (
    "color": #b27d53,
  ),
  "pasargad": (
    "color": #fecc09,
  ),
  "kosar": (
    "color": #ae1977,
  ),
  "sepah": (
    "color": #1b5fc1,
  ),
  "gardeshgari": (
    "color": #b11116,
  ),
  "iranZamin": (
    "color": #4c2a93,
  ),
  "ayandeh": (
    "color": #b27d53,
  ),
  "caspian": (
    "color": #b27d53,
  ),
  "zarinCard": (
    "color": #ffb012,
  ),
  "karafarin": (
    "color": #ab7342,
  ),
  "postbank": (
    "color": #14763e,
  ),
  "sina": (
    "color": #277eb5,
  ),
  "ansar": (
    "color": #b27d53,
  ),
  "shahr": (
    "color": #d8262c,
  ),
  "tejarat": (
    "color": #2f4a98,
  ),
  "sarmayeh": (
    "color": #1f1f47,
  ),
  "standardChartered": (
    "color": #263e94,
  ),
  "taavonEslami": (
    "color": #263e94,
  ),
  "tosee": (
    "color": #263e94,
  ),
  "saderat": (
    "color": #29166f,
  ),
  "ghavamin": (
    "color": #007d3d,
  ),
  "maskan": (
    "color": #ec520d,
  ),
  "mehrEghtesad": (
    "color": #00bbe6,
  ),
  "mehrIran": (
    "color": #00bbe6,
  ),
  "resalat": (
    "color": #00bbe6,
  ),
  "noor": (
    "color": #0bbbb9,
  ),
  "bankMarkazi": (
    "color": #0bbbb9,
  ),
  "toseeSaderat": (
    "color": #006d08,
  ),
);
/**-------------------------------------------------------------------------------------------------------------------
css for logo and card-bank
-------------------------------------------------------------------------------------------------------------------- */
@for $i from 1 through length($bankLogos) {
  $name: nth(map-keys($bankLogos), $i);
  $obj: map-get($bankLogos, $name);
  $color: map-get($obj, "color");

  .#{$name}-card {
    &::after {
      @apply bg-bank-#{$name} #{!important};
    }
    // @apply bg-#{$name}
  }
}

.zpl-bank-cards {
  @apply bg-surface border border-border-soft shadow-elevation-50;
  @apply rounded-md relative overflow-hidden px-xs pt-xs pb-md w-[320px];
  @apply after:bg-zarin after:absolute after:w-full after:h-xl after:top-0 after:z-0;
  @apply after:left-0 after:right-0;
  @apply dark:bg-surface-dark dark:border-border-dark-soft dark:shadow-dark-elevation-50;
}
.zpl-bank-cards-top {
  @apply relative bg-surface rounded-[6px] p-xs z-10 mb-xs gap-x-xs flex items-center;
  @apply dark:bg-surface-dark;
}
.zpl-bank-cards-name {
  @apply text-text text-b3;
  @apply dark:text-text-dark;
}
.zpl-bank-cards-username {
  @apply flex items-center text-text-soft text-ls-cp;
  @apply dark:text-text-dark-soft;

  // circle icon
  &:before {
    content: "";
    @apply w-[2px] h-[2px] rounded-circle bg-text-soft ml-xs;
  }
}

.zpl-bank-cards-container {
  @apply bg-surface-soft rounded-sm p-xs z-10 mb-xs text-text text-center;
  @apply dark:bg-surface-dark-soft dark:text-text-dark;
}
.zpl-bank-cards-amount-box {
  @apply flex items-center justify-center p-xs z-10 mb-sm;
}
.zpl-bank-cards-amount {
  @apply text-ls-h1 font-bold ml-2xs;
}
.zpl-bank-cards-currency {
  @apply text-b2;
}
.zpl-bank-cards-iban {
  @apply relative z-10 text-b2;
}
.zpl-bank-cards-rrn {
  @apply py-2xs px-xs flex justify-between text-text-soft text-b3;
  @apply text-text-dark-soft;
}
