.zpl-nav-item {
  @apply whitespace-nowrap flex;

  /* tooltip */
  .zpl-tooltip-container {
    @apply w-full;
    &:hover {
      .zpl-tooltip {
        @apply hidden;
      }
    }
  }
  &-menu {
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    ul {
      @apply mt-xs pr-[36px] relative;
      &:before {
        @apply content-[''] w-[1px] bg-border-divider absolute right-lg top-xs bottom-xs;
      }
    }
  }

  &.isFocused {
    @apply shadow-border-focus-heavy rounded-sm;
    @apply dark:shadow-dark-border-focus-heavy;
  }

  &-sub {
    @apply p-xs text-b2 font-medium text-text flex items-center rounded-sm gap-xs;
    @apply dark:text-text-dark;

    @apply hover:before:flex;

    /* focus */
    //@apply focus:shadow-border-focus-heavy;
    //@apply dark:focus:shadow-dark-border-focus-heavy;

    &::before {
      @apply content-[''] w-[2px] h-xl bg-border absolute right-lg rounded-l-xs hidden;
    }

    &.nuxt-link-active {
      @apply hover:cursor-default text-primaryZarinpal;
      @apply dark:text-primaryZarinpal-dark;
      &:before {
        @apply flex bg-primaryZarinpal;
        @apply dark:bg-primaryZarinpal-dark;
      }
    }
  }
  .show-sub {
    @apply max-h-[500px];
  }
  .hide-sub {
    @apply max-h-[40px] overflow-hidden;
  }
  .divider {
    @apply w-full h-[1px] bg-border-divider my-md mx-xs;
    @apply dark:bg-border-dark-divider;
  }
}
.zpl-nav-item-link {
  @apply flex items-center bg-surface rounded-sm p-xs gap-sm cursor-pointer text-text text-b2 w-full hover:cursor-pointer;
  @apply dark:text-text-dark dark:bg-surface-dark font-medium;
  /* Hover */
  @apply hover:bg-surface-hover;
  @apply dark:hover:bg-surface-dark-hover;

  /* Active */
  @apply active:bg-surface-active;
  @apply dark:active:bg-surface-dark-active;

  /* focus */
  //@apply focus:bg-surface focus:shadow-border-focus-heavy;
  //@apply dark:focus:bg-surface-dark dark:focus:shadow-dark-border-focus-heavy;

  &.subMenuActive {
    @apply bg-surface-active;
    @apply dark:bg-surface-dark-active;
  }

  svg {
    @apply h-xl w-xl;
    flex: 0 0 24px;
  }

  &.nuxt-link-active {
    @apply bg-primarySurface hover:cursor-default;
    @apply dark:bg-primarySurface-dark-select;
    &:before {
      content: '';
      @apply bg-primaryZarinpal w-2xs h-2xl absolute right-[-16px] rounded-tl-sm rounded-bl-sm;
      @apply dark:bg-primaryZarinpal-dark;
    }
    svg {
      @apply text-primaryZarinpal;
      @apply dark:text-primaryZarinpal-dark;
    }
  }
}
.zpl-nav-item-title {
  @apply flex-1;
}
