/**-------------------------------------------------------------------------------------------------------------------
card-bank-variable
-------------------------------------------------------------------------------------------------------------------- */
$bankLogos: (
	"Saman": (
    "uri": "Saman.svg",
  ),
  "Refah": (
    "uri": "Refah.svg",
  ),
  "Dey": (
    "uri": "Dey.svg",
  ),
  "Hekmat": (
    "uri": "Hekmat.svg",
  ),
  "iranEurope": (
    "uri": "IranEurope.svg",
  ),
  "iranVenezuela": (
    "uri": "IranVenezuela.svg",
  ),
  "Agriculture": (
    "uri": "Keshavarzi.svg",
  ),
  "Melal": (
    "uri": "Melall.svg",
  ),
  "SanatMadan": (
    "uri": "SanatMadan.svg",
  ),
  "ToseTavon": (
    "uri": "ToseeTaavon.svg",
  ),
  "Mellat": (
    "uri": "Mellat.svg",
  ),
  "EghtesadNovin": (
    "uri": "EghtesadNovin.svg",
  ),
  "futurebank": (
    "uri": "Futurebank.svg",
  ),
  "Khavarmiane": (
    "uri": "KhavarMianeh.svg",
  ),
  "Melli": (
    "uri": "Melli.svg",
  ),
  "Parsian": (
    "uri": "Parsian.svg",
  ),
  "Pasargad": (
    "uri": "Pasargad.svg",
  ),
  "Kosar": (
    "uri": "Kosar.svg",
  ),
  "Sepah": (
    "uri": "Sepah.svg",
  ),
  "TourismBank": (
    "uri": "Gardeshgari.svg",
  ),
  "IranZamin": (
    "uri": "IranZamin.svg",
  ),
  "Ayandeh": (
    "uri": "Ayandeh.svg",
  ),
  "caspian": (
    "uri": "Caspian.svg",
  ),
  "ZarinCard": (
    "uri": "ZarinCard.svg",
  ),
  "KarAfarin": (
    "uri": "Karafarin.svg",
  ),
  "PostBank": (
    "uri": "Postbank.svg",
  ),
  "Sina": (
    "uri": "Sina.svg",
  ),
  "Ansar": (
    "uri": "Ansar.svg",
  ),
  "CityBank": (
    "uri": "Shahr.svg",
  ),
  "Tejarat": (
    "uri": "Tejarat.svg",
  ),
  "Sarmayeh": (
    "uri": "Sarmayeh.svg",
  ),
  "standardChartered": (
    "uri": "StandardChartered.svg",
  ),
  "taavonEslami": (
    "uri": "TaavonEslami.svg",
  ),
  "ToseEtebari": (
    "uri": "Tosee.svg",
  ),
  "Saderat": (
    "uri": "Saderat.svg",
  ),
  "Ghavamin": (
    "uri": "Ghavamin.svg",
  ),
  "Maskan": (
    "uri": "Maskan.svg",
  ),
  "MehrEghtesad": (
    "uri": "MehrEghtesad.svg",
  ),
  "Mehr": (
    "uri": "MehrIran.svg",
  ),
  "Resalat": (
    "uri": "Resalat.svg",
  ),
  "Noor": (
    "uri": "Noor.svg",
  ),
  "Cbi": (
    "uri": "BankMarkazi.svg",
  ),
  "ToseSaderat": (
    "uri": "ToseeSaderat.svg",
  )
);
/**-------------------------------------------------------------------------------------------------------------------
css for logo
-------------------------------------------------------------------------------------------------------------------- */
@for $i from 1 through length($bankLogos) {
  $name: nth(map-keys($bankLogos), $i);
  $obj: map-get($bankLogos, $name);
  $uri: map-get($obj, "uri");
  .dark {
    .logo-#{$name} {
      &:before {
        background-image: url("./logos/dark-mode/#{$uri}");
      }
    }
  }
  .logo-#{$name} {
    &:before {
      @apply min-h-[24px] min-w-[24px] h-full w-full bg-cover	bg-no-repeat flex;
      content: "";
      background-image: url("./logos/#{$uri}");
    }
  }
}
