.zpl-checkbox {
  /* Default */
  direction: rtl;
  @apply inline-block relative pr-[30px] cursor-pointer text-text text-[14px];

  input{
    @apply hidden;
  }

  .checkmark { 
    @apply absolute top-0 right-0 h-lg w-lg bg-surface border-2 border-border rounded-sm;
    @apply hover:bg-surface-hover ;
    @apply disabled:border-border-disabled;
    &:after{
      @apply absolute hidden top-[3px] left-[7px] w-[6px] h-[12px] border-r-2 border-b-2 border-surface ; 
      content: "";
      transform: rotate(45deg);
    }
  }

  input:checked ~ .checkmark {
    @apply bg-primaryZarinpal border-none;
    @apply hover:bg-primaryZarinpal-hover;
    @apply disabled:bg-primaryZarinpal-disabled;
    &:after{
      @apply block; 
    }
  }
}