.zpl-avatar-progress {
  @apply inline-flex rounded-circle relative;
  width: 80px;
  height: 80px;
}

.zpl-avatar-progress-circle {
  fill: none;
  @apply stroke-current text-border-soft stroke-[3px];
}
.circle-chart {
  width: 150px;
  height: 150px;
}

.circle-chart__circle {
  stroke: #00acc1;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1); /* 1, 2, 3 */
}

.circle-chart__background {
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 8px;
}

.single-skill {
  width: 25%;
  margin-bottom: 80px;
}

.success-stroke {
  stroke: rgb(129, 86, 252);
}

.circle-chart__background {
  stroke: #ede4e4;
  stroke-width: 1;
}
