.zpl-avatar-progress-box {
  @apply inline-flex rounded-circle relative overflow-hidden w-max;
}
.zpl-avatar-progress {
  @apply inline-flex rounded-circle overflow-hidden m-xs;
}
.zpl-avatar-progress-icon {
  @apply absolute top-0 left-0;
}
.zpl-avatar-progress-circle {
  fill: none;
  stroke: 1.5px;
  stroke: currentColor;
  @apply text-border-soft;
  @apply dark:text-border-dark-soft;
}
.zpl-avatar-progress-level {
  stroke: 1.5px;
  stroke-linecap: round;
  fill: none;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke: currentColor;

  &.beginner {
    @apply text-primaryZarinpal;
    @apply dark:text-primaryZarinpal-dark;
  }

  &.silver {
    @apply text-black-20;
    @apply dark:text-white-60;
  }

  &.gold {
    @apply text-zarin;
    @apply dark:text-zarin-dark;
  }
}
