@import url("https://cdn.zarinpal.com/assets/fonts/all.css");

@tailwind base;

@tailwind components;

@tailwind utilities;
@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }
  @variants dark {
    .zpl-logo[name=zarinpal].logo-dark[language="fa"] {
      background-image: url("./images/ZarinPal-Logo-fa-dark.svg");
    }
    .zpl-logo[name=zarinpal].logo-dark[language="en"] {
      background-image: url("./images/ZarinPal-Logo-en-dark.svg");
    }
		.zpl-logo[name=zarinpal].logo-type-dark[language="fa"] {
      background-image: url("./images/ZarinPal-Logo-type-fa-dark.svg");
    }
    .zpl-logo[name=zarinpal].logo-type-dark[language="en"] {
      background-image: url("./images/ZarinPal-Logo-type-en-dark.svg");
    }
  }
}
