.zpl-nav-bar-container {
  // default
  @apply transition-[width] ease-in-out duration-200 fixed top-0 right-[-100%];
  @apply h-full w-[256px] bg-surface z-[40];

  //responsive
  @apply lg:h-[calc(100vh-60px)] lg:sticky lg:top-[58px];

  // dark
  @apply dark:bg-surface-dark;

  &.isCollapsed {
    @apply lg:w-[72px] right-0;

    .zpl-nav-bar-header-title,
    .zpl-nav-bar-arrow,
    .zpl-nav-item-title,
    .zpl-notification-badge,
    .zpl-nav-terminal-header,
    .arrow-icon,
    .zpl-nav-item-link:before,
    .zpl-nav-item-menu ul {
      @apply lg:hidden;
    }

    .zpl-tooltip-container {
      &:hover {
        .zpl-tooltip {
          @apply hidden lg:block;
        }
      }
    }
  }

  &.isDrawer {
    @apply lg:fixed lg:top-0 lg:h-full;
  }

  &.show {
    @apply right-0;
  }
}

.zpl-nav-overlay.isDrawer {
  @apply w-full h-full fixed z-[39] bg-alpha-overlay left-0 top-0;
}

.zpl-nav-bar-storybook {
  .zpl-nav-bar-menu {
    @apply absolute;
  }
}

.zpl-nav-bar-content {
  @apply px-md py-xs overflow-y-auto;
  max-height: calc(100vh - 130px);
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.zpl-nav-bar-list {
  @apply list-none flex flex-col gap-xs;
}

.zpl-nav-bar-logo {
  @apply p-md;

  div {
    @apply w-[108px];
  }
}
