.zpl-tooltip-indicator {
  @apply w-xs h-xs absolute bg-surface-dark rounded-tl-[2px];
  @apply dark:bg-surface;
  clip-path: polygon(0 0, 0% 100%, 100% 0);

  &.topLeft {
    @apply -bottom-2xs left-sm;
    transform: rotate(-135deg);
  }
  &.topCenter {
    @apply -bottom-2xs left-0 right-0 mx-auto;
    transform: rotate(-135deg);
  }
  &.topRight {
    @apply -bottom-2xs right-sm;
    transform: rotate(-135deg);
  }
  &.bottomLeft {
    @apply -top-2xs left-sm;
    transform: rotate(45deg);
  }
  &.bottomCenter {
    @apply -top-2xs left-0 right-0 mx-auto;
    transform: rotate(45deg);
  }
  &.bottomRight {
    @apply -top-2xs right-sm;
    transform: rotate(45deg);
  }
  &.right {
    @apply -left-2xs top-0 bottom-0 my-auto;
    transform: rotate(-45deg);
  }
  &.left {
    @apply -right-2xs top-0 bottom-0 my-auto;
    transform: rotate(135deg);
  }
}
